<!DOCTYPE HTML>
<html>

<head>
    <title>Jiwon Choi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../style.css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100, 200, 300, 400, 500, 600, 700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300, 500, 700" rel="stylesheet" />
    <!-- icon pack -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
    <!-- top navigation bar -->
    <div class="topnav">
        <a>JIWON CHOI</a>
        <div class="topnav-right" aria-labelledby="Main Menu Label">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/about.html" aria-current="page">About</a></li>
                <li><a href="../pages/research.html">Research</a></li>
                <li><a href="../pages/project.html">Project</a></li>
                <li><a href="../pages/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>

    <main>
        <!-- background image under the navigation bar -->
        <div class="img-container">
            <div class="about-img" role="Decorative" aria-labelledby="Picture of Jiwon at The University at Buffalo"></div>
            <div class="centered_text_over_img" aria-labelledby="Brief About Me Section">
                <div class=".centered_text_over_img name"><b>Hi! I'm Jiwon</b></div> Find more about me!<br>
                <br><button class="button-cv" onclick="javascript:window.open('../assets/files/JiwonChoi_CV.pdf')"><i class="far fa-file-pdf"></i> Download CV</button></div>
            <div class="bottom-right_text_over_img">CSE 368: Recitation<br>University at Buffalo<br>&copy; 2019 Jiwon Choi</div>
        </div>
    </main>

    <!-- section for brief bio -->
    <div class="container" aria-labelledby="Section for Bio">
        <h1>Bio</h1>
        <p>I am a Master's student in <a href=https://www.mccormick.northwestern.edu/computer-science/ target="_blank" rel="noopener noreferrer">
            Computer Science</a> at <a href="http://www.northwestern.edu/" target="_blank" rel="noopener noreferrer">Northwestern University</a>.
            <br> <br> I received my Bachelor of Science degree in <a href=https://engineering.buffalo.edu/computer-science-engineering.html target="_blank" rel="noopener noreferrer">Computer Science</a> from
            <a href="http://www.buffalo.edu/" target="_blank" rel="noopener noreferrer">University at Buffalo, The State University of New York</a> in May 2020. During my undergraduate years, I worked under the guidance of
            <a href=https://www.ece.cornell.edu/faculty-directory/nils-napp target="_blank" rel="noopener noreferrer"> Dr. Nils Napp</a>, who is currently affiliated to Cornell University.
        </p>
    </div>

    <!-- section for research interests -->
    <div class="container" aria-labelledby="Section for Research Interests">
        <h1>Research Interests</h1>
        <div class="row-interest" aria-labelledby="First Row of Research Interests">
            <div class="column-interest">
                <div class="card-interest" aria-labelledby="First Research Interests">
                    <img src="../assets/img/ai.jpg" alt="Artificial Intelligence" class="card-interest-img">
                    <div class="container-card-interest">
                        <p>Artificial Intelligence</p>
                    </div>
                </div>
            </div>
            <div class="column-interest">
                <div class="card-interest" aria-labelledby="Second Research Interests">
                    <img src="../assets/img/ur5.png" alt="Robot-UR5" class="card-interest-img">
                    <div class="container-card-interest">
                        <p>Robotics Systems</p>
                    </div>
                </div>
            </div>
            <div class="column-interest">
                <div class="card-interest" aria-labelledby="Third Research Interests">
                    <img src="../assets/img/turtlebot2.jpg" alt="Robot-UR5" class="card-interest-img">
                    <div class="container-card-interest">
                        <p>Autonomous Systems</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- section for list of educations associated with in-text urls -->
    <div class="container" aria-labelledby="Section for Education"><br>
        <h1>Education</h1>
        <p>You may refer to my relevant coursework. <button class="button-icon" onclick="javascript:window.open('../assets/files/Relevant_Coursework.pdf')">
            <i class="far fa-file-pdf"></i> PDF</button>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp" aria-labelledby="Section for Time Duration">
                            Sep 2020 - Present
                        </div>
                        <div class="item-title" aria-labelledby="Section for Institution">
                            <a href="http://www.northwestern.edu/" target="_blank" rel="noopener noreferrer">
                            Northwestern University, USA</a></div>
                        <div class="item-detail" aria-labelledby="Section for Education Details">Master of Science, Computer Science</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp" aria-labelledby="Section for Time Duration">
                            Aug 2018 - May 2020
                        </div>
                        <div class="item-title" aria-labelledby="Section for Institution">
                            <a href="http://www.buffalo.edu/" target="_blank" rel="noopener noreferrer">
                        University at Buffalo, The State University of New York, USA</a></div>
                        <div class="item-detail" aria-labelledby="Section for Education Details">Bachelor of Science, Computer Science With Distinction Magna Cum Laude</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp" aria-labelledby="Section for Time Duration">
                            Feb 2016 - Dec 2017
                        </div>
                        <div class="item-title" aria-labelledby="Section for Institution">
                            <a href="http://www.stonybrook.edu/" target="_blank" rel="noopener noreferrer">
                            Stony Brook University, The State University of New York, USA</a></div>
                        <div class="item-detail" aria-labelledby="Section for Education Details">Bachelor of Science, Double Major in Computer Science and Applied Mathematics & Statistics</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp" aria-labelledby="Section for Time Duration">
                            Class of 2016
                        </div>
                        <div class="item-title" aria-labelledby="Section for Institution">
                            <a href="https://reedleyschool.edu.ph" target="_blank" rel="noopener noreferrer">
                            Reedley International School, Philippines</a></div>
                        <div class="item-detail" aria-labelledby="Section for Education Details">High School Secondary Education, Valedictorian</div>
                    </li>
                </ul>
            </div>
    </div>

    <!-- list of publications with paper, bibtex, and demo -->
    <div class="container" aria-labelledby="Section for List of Publications">
        <h1>Publications</h1>
        <ol class="ol-about">
            <li>Vivek Thangavelu, Ma&iacute;ra Saboia, <strong>Jiwon Choi</strong> and Nils Napp, "Autonomous Modification of Unstructured Environments with Found Material," in International Conference on Robotics and Automation (ICRA' 20), 2020. <br>
                <button class="button-icon" onclick="javascript:window.open('../assets/files/thangavelu_et_all.txt')"><span class="fas fa-quote-right"></span> BibTeX</button>
                <button class="button-icon" onclick="javascript:window.open('../assets/files/ICRA2020.pdf')"><span class="far fa-file-pdf"></span> PDF</button>
                <button class="button-icon" onclick="javascript:window.open('https://youtu.be/c-HROJBzmKU?list=PLf5ketaUezFSotXw1ZNR46ZEJKxl63-mK','_blank')" target="_blank"><span class="fab fa-youtube"></span> Presentation</button>
                <button class="button-icon" onclick="javascript:window.open('https://youtu.be/-gj1E9dZ6Cs?list=PLf5ketaUezFSotXw1ZNR46ZEJKxl63-mK','_blank')" target="_blank"><span class="fab fa-youtube"></span> Demo</button>

            </li>
            <br>
            <li>Yifang Liu, <strong>Jiwon Choi</strong> and Nils Napp, "Planning for Robotic Dry Stacking with Irregular Stones," in Field and Service Robotics (FSR' 19), 2019.
                <br><button class="button-icon" onclick="javascript:window.open('../assets/files/liu_et_all.txt')"><span class="fas fa-quote-right"></span> BibTeX</button>
                <button class="button-icon" onclick="javascript:window.open('../assets/files/FSR2019.pdf')"><span class="far fa-file-pdf"></span> PDF</button>
            </li>
        </ol>
    </div>

    <!-- list of presentation with the postser -->
    <div class="container" aria-labelledby="Section for Presentation"><br>
        <h1>Presentation</h1>
        <ol class="ol-about">
            <li><strong>Autonomous Modification of Unstructured Environments With Irregular Found Material</strong><br>
                <span>Northeast Robotics Colloquium (NERC'19), in University of Pennsylvania, 2019.</span>
                <br><button class="button-icon" onclick="javascript:window.open('../assets/files/nerc-2019.pdf')"><span class="far fa-file-pdf"></span> Poster</button>
            </li>
        </ol>
    </div>


</body>

</html>